@import "./scss/Globals.scss";
@import "./scss/Header.scss";
@import "./scss/Footer.scss";
@import "./scss/Form.scss";

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  input,
  button {
    all: unset;
    padding: 10px;
    border-radius: 15px;
    background-color: #1c1c1e;
    box-shadow: 0 10px 30px #0005;
    border: 2px solid #71717188;
    transition: background-image 0.5s, opacity 0.5s, border 0.5s;
    text-align: center;
  }
  nav {
    display: flex;
    gap: 15px;
    p {
      padding: 10px 10px;
      background-color: #1c1c1e;
      border-radius: 5px;
      box-shadow: 0 10px 30px #0005;
      border: 2px solid #71717188;
    }
    button {
      cursor: pointer;
      &:disabled {
        opacity: 0.5;
        cursor: default;
      }
    }
  }
}

.card-wrapper {
  padding: 30px 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  a {
    height: 487px;
    width: 250px;
  }
  article {
    height: 487px;
    width: 250px;
    position: relative;
    border: 5px solid $rougeClair;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    h2 {
      font-size: 30px;
      text-align: center;
    }
    p {
      padding-bottom: 3px;
      max-height: 147px;
      overflow: hidden;
    }
    img {
      position: absolute;
      bottom: 20px;
      width: 200px;
      height: 200px;
    }
    .favorite {
      position: absolute;
      top: 10px;
      right: 10px;
      &:hover {
        color: $rouge;
        cursor: pointer;
      }
    }
  }
}

.loading-screen {
  min-height: calc(100vh - 337px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.favoris-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  input {
    all: unset;
    padding: 10px;
    border-radius: 15px;
    background-color: #1c1c1e;
    box-shadow: 0 10px 30px #0005;
    border: 2px solid #71717188;
    transition: background-image 0.5s, opacity 0.5s, border 0.5s;
    text-align: center;
  }
}

.no-favoris {
  p {
    text-align: center;
    line-height: 30px;
    span {
      font-weight: 700;
    }
  }
  .redirect-card {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    gap: 50px;
    article {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 500px;
      width: 325px;
      position: relative;
      border: 5px solid $rougeClair;
      border-radius: 5px;
      h2 {
        position: absolute;
        font-size: 30px;
        color: black;
      }
      &:hover {
        cursor: pointer;
      }
    }
    .personnages {
      background-image: url("./assets/spider-man.jpg");
      &:hover {
        background-image: url("./assets/perso-preview.png");
      }
    }
    .comics {
      background-image: url("./assets/civil-war.jpg");
      &:hover {
        background-image: url("./assets/comics-preview.png");
      }
    }
  }
}

.favoris-comics-card {
  cursor: default;
  color: black;
  &:hover {
    cursor: default;
  }
}
