@import "./scss/Globals.scss";
@import "./scss/Header.scss";
@import "./scss/Footer.scss";
@import "./scss/Modal.scss";

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  input {
    width: 350px;
    height: 30px;
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 0px 10px;
    background-color: $grisClair;
    color: whitesmoke;
  }
  nav {
    display: flex;
    gap: 15px;
    p {
      padding: 5px 10px;
      background-color: $grisClair;
      border-radius: 5px;
    }
  }
}

.card-wrapper {
  padding: 30px 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  a {
    height: 487px;
    width: 250px;
  }
  article {
    height: 487px;
    width: 250px;
    position: relative;
    border: 5px solid $rougeClair;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    h2 {
      font-size: 30px;
      text-align: center;
    }
    p {
      padding-bottom: 3px;
      max-height: 147px;
      overflow: hidden;
    }
    img {
      position: absolute;
      bottom: 20px;
      width: 200px;
      height: 200px;
    }
    .favorite {
      position: absolute;
      top: 10px;
      right: 10px;
      &:hover {
        color: $rouge;
        cursor: pointer;
      }
    }
  }
}
