$rouge: #ed201f;
$rougeClair: #ee293a;
$noir: #070707;
$gris: #2c2c2c;
$grisClair: #c0c0c0;
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100..900&display=swap");

#root {
  background-color: $noir;
  font-family: "M PLUS 1", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@property --angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}
@keyframes autoRotate {
  to {
    --angle: 360deg;
  }
}
.container {
  background-color: $gris;
  border-radius: 10px;
  width: 70vw;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
}

main {
  margin: 50px 0;
  padding: 0px 50px;
  color: whitesmoke;
  .container {
    min-height: calc(100vh - 370px);
    padding-bottom: 30px;
  }
}

h1 {
  font-size: 50px;
  text-align: center;
  padding: 50px 0px;
}
