$rouge: #ed201f;
$gris: #070707;
$grisClair: #2c2c2c;
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100..900&display=swap");

#root {
  background-color: black;
  font-family: "M PLUS 1", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container {
  background-color: $gris;
  width: 70vw;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  border: none;
}
main {
  margin: 50px 0;
  padding: 0px 50px;
  color: white;
}
h1 {
  font-size: 50px;
  text-align: center;
  padding: 50px 0px;
}
