header {
  background-color: $rouge;
  padding: 10px;
  .wrapper {
    background-color: $rouge;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 25px;
    img {
      height: 100px;
      width: auto;
      margin: 0px 20px;
    }
    nav {
      display: flex;
      gap: 30px;
      a {
        padding: 10px;
        border-radius: 5px;
        &:hover {
          background-color: $gris;
          color: #f0f0f0;
        }
      }
      button {
        font-family: "M PLUS 1", sans-serif;
        font-size: 25px;
        line-height: 16px;
        padding: 10px;
        border-radius: 5px;
        background-color: $rouge;
        height: 36px;
        align-self: center;
        &:hover {
          cursor: pointer;
          background-color: $gris;
          color: #f0f0f0;
        }
      }
      .connection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        button {
          font-family: "M PLUS 1", sans-serif;
          font-size: 25px;
          line-height: 16px;
          padding: 10px;
          border-radius: 5px;
          background-color: $rouge;
          &:hover {
            cursor: pointer;
            background-color: $gris;
            color: #f0f0f0;
          }
        }
      }
    }
  }
}
